{% extends 'base.html' %}
{% load i18n %}
{% block title %}{% trans "Exam Schedule 2019" %}{% endblock %}

{% block content %}
<br/>
<br/>
<h3>Event Schedule 2019</h3>
<a class="button" href="{% url 'home' %}" role="button">Back to Homepage</a>
<br/>
<br/>
{% if event_list %}
		<table class="table table-bordered table-striped">
		  <thead>
			<tr>
			  <th>{% trans "Exam" %}</th>
        <th>{% trans "Description" %}</th>
        <th>{% trans "Subject" %}</th>
        <th>{% trans "Start" %}</th>
        <th>{% trans "Finish" %}</th>
			</tr>
		  </thead>

		  <tbody>

        {% for event in event_list %}

  			<tr>
            <th>{{ event.title }}</th>
            <th>{{ event.description }}</th>
            <th>{{ event.category }}</th>
            <th>{{ event.start_time }}</th>
            <th>{{ event.end_time }}</th> 
			</tr>

        {% endfor %}
		  </tbody>

		</table>

	{% else %}
        <p>{% trans "There are no available exams" %}.</p>
		{% endif %}


{% endblock %}


