{% extends 'basetwo.html' %}
{% block title %}Hello, {{ obj.username }}{% endblock %}
{% block content %}

<h3>Profile</h3> 
<h3>User Profile</h3> 
<p>{{ obj.username }}</p>
<p>{{ obj.first_name }} {{ obj.last_name }} </p>
<p>{{ obj.school }}</p>

<li><a href="{% url 'Student_Profiles' school_url=school_url %}">Students</a></li>

{% if obj.is_teacher %}
<li><a href="{% url 'assessment' school_url=school_url %}">Assessment</a></li>
<li><a href="{% url 'school_lesson' school_url=school_url %}">School Lesson</a></li>
<li><a href="{% url 'weekly_activity' school_url=school_url username=obj.username week_of=current_week %}">Weekly Activities</a></li>
{% endif %}

{% if obj.is_admin %}
<li><a href="{% url 'create_classroom' username=obj.username school_url=school_url %}">Add Classroom</a></li>
<li><a href="{% url 'create_grade' school_url=school_url %}">Add Grade</a></li>
<li><a href="{% url 'user_list' school_url=school_url %}">All Users</a></li>
<li><a href="{% url 'assessment' school_url=school_url %}">Assessment</a></li>
<li><a href="{% url 'school_lesson' school_url=school_url username=obj.username %}">School Lesson</a></li>
<li><a href="{% url 'weekly_activity' school_url=school_url username=obj.username week_of=current_week %}">Weekly Activities</a></li>
{% endif %}
{% endblock %}


