{% extends 'basetwo.html' %}
{% block content %}
<h1>Single Activity</h1>
{% for j in obj %}
    <li>{{j.school_lesson_id}}</li>
	<li>{{j.weekly_goal }}</li>
	<li>{{j.subject}}</li>
    <li>{{j.week_of}}</li>
    <li>{{j.standard}}</li>
	<li>{{j.intro}}</li>
	<li>{{j.activity}}</li>
	<li>{{j.wrap_up}}</li>
    <li>{{j.resources}}</li>
    <li>{{j.bl}}</li>
    <li>{{j.mi1}}</li>
    <li>{{j.mi2}}</li>
    <li>{{j.mi3}}</li>
	<li>{{j.vocabulary}}</li>
    <li>{{j.day }}</li>
    <li>{{j.id }}</li>

    <li><a href="{% url 'assessment' school_url=school_url planning_id=j.school_lesson_id %}">Assessment</a></li>
    <li><a href="{% url 'delete_activity' school_url=school_url username=user.username activity_id=j.id %}">Delete Activity</a></li>

{% endfor %}
{% endblock %}