{% extends 'basetwo.html' %}
{% block content %}
<h1>{{ obj }}</h1>


	<li>{{obj.grade_level}}</li>
	<li>{{obj.school}}</li>
	<li>{{.d_o_b}}</li>

<h5>Assessments</h5>

<table class="table">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Assessment</th>
            <th scope="col">Score</th>
            <th scope="col">Understanding</th>
          </tr>
        </thead>
        <tbody>
            {% for grade in obj2 %}
          <tr>
            <th scope="row">{{ grade.id }}</th>
            <td>{{ grade.assessment }}</td>
            <td>{{ grade.assessment_score }}</td>
            {% if grade.understanding_level >= 3  %}
            <td class="table-info">High</td>
            {% elif grade.understanding_level >= 2 %}
            <td class="table-success">Mid</td>
            {% else %}
            <td class="table-danger">Low</td>
            {% endif %}
          </tr>
            {% endfor %}
        </tbody>
      </table>


{% endblock %}