{% extends 'basetwo.html' %}
{% block content %}
<h2>{{ teacher_weekly.teacher }} Schedule</h2>
{% for schedule in teacher_weekly %}

<div class="form-row">
        <div class="form-group col-md-2">
{% if schedule.monday_first is True %}
<p>First Period</p>
<div class="dropdown">
        <button class="btn btn-outline-secondary btn-sm dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        {{ schedule.classroom }} - {{ schedule.Subject }}
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
          <a class="dropdown-item" href="{% url 'single_classroom' school_url=school_url classroom_id=schedule.classroom_id %}">View Class</a>
          <a class="dropdown-item" href="#">Edit Schedule</a>
          <a class="dropdown-item" href="#">Add Assessment</a>
        </div>
      </div>
{% endif %}
{% if schedule.monday_second is True %}
<p>Second Period</p>
<div class="dropdown">
        <button class="btn btn-outline-secondary btn-sm dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        {{ schedule.classroom }} - {{ schedule.Subject }}
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
          <a class="dropdown-item" href="{% url 'single_classroom' school_url=school_url classroom_id=schedule.classroom_id %}">View Class</a>
          <a class="dropdown-item" href="#">Edit Schedule</a>
          <a class="dropdown-item" href="#">Add Assessment</a>
        </div>
      </div>
{% endif %}
{% if schedule.monday_third is True %}
<p>Third Period</p>
<div class="dropdown">
        <button class="btn btn-outline-secondary btn-sm dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        {{ schedule.classroom }} - {{ schedule.Subject }}
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
          <a class="dropdown-item" href="{% url 'single_classroom' school_url=school_url classroom_id=schedule.classroom_id %}">View Class</a>
          <a class="dropdown-item" href="#">Edit Schedule</a>
          <a class="dropdown-item" href="#">Add Assessment</a>
        </div>
      </div>
{% endif %}
{% if schedule.monday_fourth is True %}
<p>Fourth Period</p>
<div class="dropdown">
        <button class="btn btn-outline-secondary btn-sm dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        {{ schedule.classroom }} - {{ schedule.Subject }}
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
          <a class="dropdown-item" href="{% url 'single_classroom' school_url=school_url classroom_id=schedule.classroom_id %}">View Class</a>
          <a class="dropdown-item" href="#">Edit Schedule</a>
          <a class="dropdown-item" href="#">Add Assessment</a>
        </div>
      </div>
{% endif %}
{% if schedule.monday_fifth is True %}
<p>Fifth Period</p>
<div class="dropdown">
        <button class="btn btn-outline-secondary btn-sm dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        {{ schedule.classroom }} - {{ schedule.Subject }}
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
          <a class="dropdown-item" href="{% url 'single_classroom' school_url=school_url classroom_id=schedule.classroom_id %}">View Class</a>
          <a class="dropdown-item" href="#">Edit Schedule</a>
          <a class="dropdown-item" href="#">Add Assessment</a>
        </div>
      </div>
{% endif %}
{% if schedule.monday_sixth is True %}
<p>Sixth Period</p>
<div class="dropdown">
        <button class="btn btn-outline-secondary btn-sm dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        {{ schedule.classroom }} - {{ schedule.Subject }}
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
          <a class="dropdown-item" href="{% url 'single_classroom' school_url=school_url classroom_id=schedule.classroom_id %}">View Class</a>
          <a class="dropdown-item" href="#">Edit Schedule</a>
          <a class="dropdown-item" href="#">Add Assessment</a>
        </div>
      </div>
{% endif %}
{% if schedule.monday_seventh is True %}
<p>Seventh Period</p>
<div class="dropdown">
        <button class="btn btn-outline-secondary btn-sm dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        {{ schedule.classroom }} - {{ schedule.Subject }}
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
          <a class="dropdown-item" href="{% url 'single_classroom' school_url=school_url classroom_id=schedule.classroom_id %}">View Class</a>
          <a class="dropdown-item" href="#">Edit Schedule</a>
          <a class="dropdown-item" href="#">Add Assessment</a>
        </div>
      </div>
{% endif %}
{% if schedule.monday_eight is True %}
<p>Eight Period</p>
<div class="dropdown">
        <button class="btn btn-outline-secondary btn-sm dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        {{ schedule.classroom }} - {{ schedule.Subject }}
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
          <a class="dropdown-item" href="{% url 'single_classroom' school_url=school_url classroom_id=schedule.classroom_id %}">View Class</a>
          <a class="dropdown-item" href="#">Edit Schedule</a>
          <a class="dropdown-item" href="#">Add Assessment</a>
        </div>
      </div>
{% endif %}
</div>
        <div class="form-group col-md-2">
        {% if schedule.tuesday_first is True %}
        <p>First Period</p>
        <li><a href="{% url 'single_classroom' school_url=school_url classroom_id=schedule.classroom_id %}">{{ schedule.classroom }}</a></li>
        <li>{{ schedule.Subject }}</li>
        {% endif %}
        {% if schedule.tuesday_second is True %}
        <p>Second Period</p>
        <li><a href="{% url 'single_classroom' school_url=school_url classroom_id=schedule.classroom_id %}">{{ schedule.classroom }}</a></li>
        <li>{{ schedule.Subject }}</li>
        {% endif %}
        {% if schedule.tuesday_third is True %}
        <p>Third Period</p>
        <li><a href="{% url 'single_classroom' school_url=school_url classroom_id=schedule.classroom_id %}">{{ schedule.classroom }}</a></li>
        <li>{{ schedule.Subject }}</li>
        {% endif %}
        {% if schedule.tuesday_fourth is True %}
        <p>Fourth Period</p>
        <li><a href="{% url 'single_classroom' school_url=school_url classroom_id=schedule.classroom_id %}">{{ schedule.classroom }}</a></li>
        <li>{{ schedule.Subject }}</li>
        {% endif %}
        {% if schedule.tuesday_fifth is True %}
        <p>Fifth Period</p>
        <li><a href="{% url 'single_classroom' school_url=school_url classroom_id=schedule.classroom_id %}">{{ schedule.classroom }}</a></li>
        <li>{{ schedule.Subject }}</li>
        {% endif %}
        {% if schedule.tuesday_sixth is True %}
        <p>Sixth Period</p>
        <li><a href="{% url 'single_classroom' school_url=school_url classroom_id=schedule.classroom_id %}">{{ schedule.classroom }}</a></li>
        <li>{{ schedule.Subject }}</li>
        {% endif %}
        {% if schedule.tuesday_seventh is True %}
        <p>Seventh Period</p>
        <li><a href="{% url 'single_classroom' school_url=school_url classroom_id=schedule.classroom_id %}">{{ schedule.classroom }}</a></li>
        <li>{{ schedule.Subject }}</li>
        {% endif %}
        {% if schedule.tuesday_eight is True %}
        <p>Eight Period</p>
        <li><a href="{% url 'single_classroom' school_url=school_url classroom_id=schedule.classroom_id %}">{{ schedule.classroom }}</a></li>
        <li>{{ schedule.Subject }}</li>
        {% endif %}
        </div>
        <div class="form-group col-md-2">
                {% if schedule.wednesday_first is True %}
                <p>First Period</p>
                <li><a href="{% url 'single_classroom' school_url=school_url classroom_id=schedule.classroom_id %}">{{ schedule.classroom }}</a></li>
                <li>{{ schedule.Subject }}</li>
                {% endif %}
                {% if schedule.wednesday_second is True %}
                <p>Second Period</p>
                <li><a href="{% url 'single_classroom' school_url=school_url classroom_id=schedule.classroom_id %}">{{ schedule.classroom }}</a></li>
                <li>{{ schedule.Subject }}</li>
                {% endif %}
                {% if schedule.wednesday_third is True %}
                <p>Third Period</p>
                <li><a href="{% url 'single_classroom' school_url=school_url classroom_id=schedule.classroom_id %}">{{ schedule.classroom }}</a></li>
                <li>{{ schedule.Subject }}</li>
                {% endif %}
                {% if schedule.wednesday_fourth is True %}
                <p>Fourth Period</p>
                <li><a href="{% url 'single_classroom' school_url=school_url classroom_id=schedule.classroom_id %}">{{ schedule.classroom }}</a></li>
                <li>{{ schedule.Subject }}</li>
                {% endif %}
                {% if schedule.wednesday_fifth is True %}
                <p>Fifth Period</p>
                <li><a href="{% url 'single_classroom' school_url=school_url classroom_id=schedule.classroom_id %}">{{ schedule.classroom }}</a></li>
                <li>{{ schedule.Subject }}</li>
                {% endif %}
                {% if schedule.wednesday_sixth is True %}
                <p>Sixth Period</p>
                <li><a href="{% url 'single_classroom' school_url=school_url classroom_id=schedule.classroom_id %}">{{ schedule.classroom }}</a></li>
                <li>{{ schedule.Subject }}</li>
                {% endif %}
                {% if schedule.wednesday_seventh is True %}
                <p>Seventh Period</p>
                <li><a href="{% url 'single_classroom' school_url=school_url classroom_id=schedule.classroom_id %}">{{ schedule.classroom }}</a></li>
                <li>{{ schedule.Subject }}</li>
                {% endif %}
                {% if schedule.wednesday_eight is True %}
                <p>Eight Period</p>
                <li><a href="{% url 'single_classroom' school_url=school_url classroom_id=schedule.classroom_id %}">{{ schedule.classroom }}</a></li>
                <li>{{ schedule.Subject }}</li>
                {% endif %}
        </div>
        <div class="form-group col-md-2">
                {% if schedule.thursday_first is True %}
                <p>First Period</p>
                <li><a href="{% url 'single_classroom' school_url=school_url classroom_id=schedule.classroom_id %}">{{ schedule.classroom }}</a></li>
                <li>{{ schedule.Subject }}</li>
                {% endif %}
                {% if schedule.thursday_second is True %}
                <p>Second Period</p>
                <li><a href="{% url 'single_classroom' school_url=school_url classroom_id=schedule.classroom_id %}">{{ schedule.classroom }}</a></li>
                <li>{{ schedule.Subject }}</li>
                {% endif %}
                {% if schedule.thursday_third is True %}
                <p>Third Period</p>
                <li><a href="{% url 'single_classroom' school_url=school_url classroom_id=schedule.classroom_id %}">{{ schedule.classroom }}</a></li>
                <li>{{ schedule.Subject }}</li>
                {% endif %}
                {% if schedule.thursday_fourth is True %}
                <p>Fourth Period</p>
                <li><a href="{% url 'single_classroom' school_url=school_url classroom_id=schedule.classroom_id %}">{{ schedule.classroom }}</a></li>
                <li>{{ schedule.Subject }}</li>
                {% endif %}
                {% if schedule.thursday_fifth is True %}
                <p>Fifth Period</p>
                <li><a href="{% url 'single_classroom' school_url=school_url classroom_id=schedule.classroom_id %}">{{ schedule.classroom }}</a></li>
                <li>{{ schedule.Subject }}</li>
                {% endif %}
                {% if schedule.thursday_sixth is True %}
                <p>Sixth Period</p>
                <li><a href="{% url 'single_classroom' school_url=school_url classroom_id=schedule.classroom_id %}">{{ schedule.classroom }}</a></li>
                <li>{{ schedule.Subject }}</li>
                {% endif %}
                {% if schedule.thursday_seventh is True %}
                <p>Seventh Period</p>
                <li><a href="{% url 'single_classroom' school_url=school_url classroom_id=schedule.classroom_id %}">{{ schedule.classroom }}</a></li>
                <li>{{ schedule.Subject }}</li>
                {% endif %}
                {% if schedule.thursday_eight is True %}
                <p>Eight Period</p>
                <li><a href="{% url 'single_classroom' school_url=school_url classroom_id=schedule.classroom_id %}">{{ schedule.classroom }}</a></li>
                <li>{{ schedule.Subject }}</li>
                {% endif %}
        </div>
        <div class="form-group col-md-2">
                {% if schedule.friday_first is True %}
                <p>First Period</p>
                <li><a href="{% url 'single_classroom' school_url=school_url classroom_id=schedule.classroom_id %}">{{ schedule.classroom }}</a></li>
                <li>{{ schedule.Subject }}</li>
                {% endif %}
                {% if schedule.friday_second is True %}
                <p>Second Period</p>
                <li><a href="{% url 'single_classroom' school_url=school_url classroom_id=schedule.classroom_id %}">{{ schedule.classroom }}</a></li>
                <li>{{ schedule.Subject }}</li>
                {% endif %}
                {% if schedule.friday_third is True %}
                <p>Third Period</p>
                <li><a href="{% url 'single_classroom' school_url=school_url classroom_id=schedule.classroom_id %}">{{ schedule.classroom }}</a></li>
                <li>{{ schedule.Subject }}</li>
                {% endif %}
                {% if schedule.friday_fourth is True %}
                <p>Fourth Period</p>
                <li><a href="{% url 'single_classroom' school_url=school_url classroom_id=schedule.classroom_id %}">{{ schedule.classroom }}</a></li>
                <li>{{ schedule.Subject }}</li>
                {% endif %}
                {% if schedule.friday_fifth is True %}
                <p>Fifth Period</p>
                <li><a href="{% url 'single_classroom' school_url=school_url classroom_id=schedule.classroom_id %}">{{ schedule.classroom }}</a></li>
                <li>{{ schedule.Subject }}</li>
                {% endif %}
                {% if schedule.friday_sixth is True %}
                <p>Sixth Period</p>
                <li><a href="{% url 'single_classroom' school_url=school_url classroom_id=schedule.classroom_id %}">{{ schedule.classroom }}</a></li>
                <li>{{ schedule.Subject }}</li>
                {% endif %}
                {% if schedule.friday_seventh is True %}
                <p>Seventh Period</p>
                <li><a href="{% url 'single_classroom' school_url=school_url classroom_id=schedule.classroom_id %}">{{ schedule.classroom }}</a></li>
                <li>{{ schedule.Subject }}</li>
                {% endif %}
                {% if schedule.friday_eight is True %}
                <p>Eight Period</p>
                <li><a href="{% url 'single_classroom' school_url=school_url classroom_id=schedule.classroom_id %}">{{ schedule.classroom }}</a></li>
                <li>{{ schedule.Subject }}</li>
                {% endif %}
        </div>
    </div>
{% endfor %}

    


{% endblock %}
