{% extends 'basetwo.html' %}
{% block content %}
<br/>
<p>hello {{ username }}!</p>

    <div class="row seven-cols">
      <div class="col-md-1">
        {% if object1 %}
        <a href="{% url 'weekly_activity' school_url=school_url username=user.get_username week_of=previous %}">Last Week</a>
        {% else %}
        <a href="{% url 'school_lesson_week' school_url=school_url username=user.get_username week_of=previous %}">Last Week</a>
        {% endif %}
      </div>
      <div class="col-md-2">
          <p>Monday</p>
          {% for x in object2 %}
          {% if 'Monday' in x.day %}
          {% for subject in x.subject.split %}
          {{ subject }}
            <li><a href="{% url 'single_activity' activity_id=x.id %}">{{ x.intro }}</a></li>
          {% endfor %}
          {% endif %}
        {% endfor %}
        
        
      </div>
      <div class="col-md-2">
          <p>Tuesday</p>
          {% for x in object2 %}
          {% if 'Tuesday' in x.day %}
          {% for subject in x.subject.split %}
          {{ subject }}
          <li><a href="{% url 'single_activity' activity_id=x.id %}">{{ x.intro }}</a></li>
        {% endfor %}
          {% endif %}
      {% endfor %}
      </div>
      <div class="col-md-2">
          <p>Wednesday</p>
          {% for x in object2 %}
          {% if 'Wednesday' in x.day %}
          {% for subject in x.subject.split %}
          {{ subject }}
          <li><a href="{% url 'single_activity' activity_id=x.id %}">{{ x.intro }}</a></li>
          {% endfor %}
          {% endif %}
      {% endfor %}
      </div>
      <div class="col-md-2">
          <p>Thursday</p>
          {% for x in object2 %}
          {% if 'Thursday' in x.day %}
          {% for subject in x.subject.split %}
          {{ subject }}
          <li><a href="{% url 'single_activity' activity_id=x.id %}">{{ x.intro }}</a></li>
          {% endfor %}
          {% endif %}
      {% endfor %}
      </div>
      <div class="col-md-2">
          <p>Friday </p>
          {% for x in object2 %}
          {% if 'Friday' in x.day %}
          {% for subject in x.subject.split %}
          {{ subject }}
          <li><a href="{% url 'single_activity' activity_id=x.id %}">{{ x.intro }}</a></li>
      {% endfor %}
          {% endif %}
      {% endfor %}
      </div>

      <div class="col-md-1">
        {% if object3 %}
        <a href="{% url 'weekly_activity' school_url=school_url username=user.get_username week_of=next_week %}">Next Week</a>
        {% else %}
        <a href="{% url 'school_lesson_week' school_url=school_url username=user.get_username week_of=next_week %}">Next Week</a>
        {% endif %} 
      </div>
    </div>
<br/>
{% endblock %}