{% extends 'basetwo.html' %}
{% block content %}
<br/>
<h3>Step One: Review Weekly Activity Information </h3>

{% if messages %}
    {% for message in messages %}
    <h4>{{ message }}</h4>
    {% endfor %}
{% endif %}


<form method="POST">
        {% csrf_token %}
        {{ form.non_field_errors }}
        <div class="form-group">
                {{ form.school_lesson_id.errors }}
                <label >Lesson Id: </label>
                <input type="text" class="form-control" value='{{ obj.school_lesson_id }}'name='school_lesson_id'>
            </div>
    <div class="form-group">
            {{ form.activity_title.errors }}
            <label >Weekly Objective: </label>
            <input type="text" class="form-control" value='{{ obj.objective }}'name='activity_title'>
        </div>
    <div class="form-row">
            <div class="form-group col-md-4">
            {{ form.teacher.errors }}
            <label >Teacher: </label>
            <input type="text" class="form-control" value='{{ username }}' name='teacher'>
        </div>
        <div class="form-group col-md-4">
            {{ form.subject.errors }}
            <label >Subject: </label>
            <input type="text" class="form-control" value='{{ obj.subject }}' name='subject'>
        </div>
        <div class="form-group col-md-4">
            {{ form.week_of.errors }}
            <label >Week Of: </label>
            <input type="text" class="form-control" value='{{ obj.week_of }}' name='week_of'>
        </div>
    </div>
    <div class="form-group">
           {{ form.standard.errors }}
        <label for="standard">Standards</label> 
        <select class="form-control" name='standard' id="exampleFormControlSelect1">
    {% for result in results %}
    {% for j in result %}
        {% if forloop.first %}
        <option value="{{ j }}">{{ j }}</option>
        {% endif %}
        {% endfor %}
    {% endfor %}
        </select>
    </div>
        {% if 'Monday' in obj.days %}
        <h4>Monday</h4>
        <div class="form-row">
            <div class="form-group col-md-4">
            {{ form.mondayintro.errors }}
            <label >Essential Questions: </label>
            <textarea class="form-control" name='mondayintro'  rows="2">{{ matches.0.intro }}</textarea>
        </div>
        <div class="form-group col-md-4">
            {{ form.mondayactivity.errors }}
            <label >Activity: </label>
            <textarea class="form-control" name='mondayactivity' rows="2">{{ matches.0.activity }}</textarea>
        </div>
        <div class="form-group col-md-4">
            {{ form.mondaywrap_up.errors }}
            <label >Wrap Up: </label>
            <textarea class="form-control" name='mondaywrap_up' rows="2">{{ matches.0.wrap_up }}</textarea>
        </div>
    </div>
        <div class="form-row">
            <div class="form-group col-md-4">
            {{ form.mondayresources.errors }}
            <label >Resources: </label>
            <input type="text" class="form-control" value='{{ matches.0.resources }}' name='mondayresources'>
        </div>
        <div class="form-group col-md-4">
            {{ form.mondayvocabulary.errors }}
            <label >Vocabulary: </label>
            <input type="text" class="form-control" value='{{ matches.0.vocabulary }}' name='mondayvocabulary'>
        </div>
        </div>
        {% endif %}
        {% if 'Tuesday' in obj.days %}
        <h4>Tuesday</h4>
        <div class="form-row">
            <div class="form-group col-md-4">
            {{ form.tuesdayintro.errors }}
            <label >Essential Questions: </label>
            <textarea class="form-control" name='tuesdayintro'  rows="2">{{ matches.1.intro }}</textarea>
        </div>
        <div class="form-group col-md-4">
            {{ form.tuesdayactivity.errors }}
            <label >Activity: </label>
            <textarea class="form-control" name='tuesdayactivity'  rows="2">{{ matches.1.activity }}</textarea>
        </div>
        <div class="form-group col-md-4">
            {{ form.tuesdaywrap_up.errors }}
            <label >Wrap Up: </label>
            <textarea class="form-control" name='tuesdaywrap_up' rows="2">{{ matches.1.wrap_up }}</textarea>
        </div>
    </div>
        <div class="form-row">
            <div class="form-group col-md-4">
            {{ form.tuesdayresources.errors }}
            <label >Resources: </label>
            <input type="text" class="form-control" value='{{ matches.1.resources }}' name='tuesdayresources'>
        </div>
        <div class="form-group col-md-4">
            {{ form.tuesdayvocabulary.errors }}
            <label >Vocabulary: </label>
            <input type="text" class="form-control" value='{{ matches.1.vocabulary }}' name='tuesdayvocabulary'>
        </div>
        </div>
        {% endif %}
        {% if 'Wednesday' in obj.days %}
        <h4>Wednesday</h4>
        <div class="form-row">
            <div class="form-group col-md-4">
            {{ form.wednesdayintro.errors }}
            <label >Essential Questions: </label>
            <textarea class="form-control" name='wednesdayintro' rows="2"></textarea>
        </div>
        <div class="form-group col-md-4">
            {{ form.wednesdayactivity.errors }}
            <label >Activity: </label>
            <textarea class="form-control" name='wednesdayactivity' rows="2"></textarea>
        </div>
        <div class="form-group col-md-4">
            {{ form.wednesdaywrap_up.errors }}
            <label >Wrap Up: </label>
            <textarea class="form-control" name='wednesdaywrap_up' rows="2"></textarea>
        </div>
    </div>
        <div class="form-row">
            <div class="form-group col-md-4">
            {{ form.wednesdayresources.errors }}
            <label >Resources: </label>
            <input type="text" class="form-control" name='wednesdayresources'>
        </div>
        <div class="form-group col-md-4">
            {{ form.wednesdayblooms.errors }}
            <label >Blooms: </label>
            <input type="text" class="form-control" name='wednesdayblooms'>
        </div>
        <div class="form-group col-md-4">
            {{ form.wednesdayvocabulary.errors }}
            <label >Vocabulary: </label>
            <input type="text" class="form-control" name='wednesdayvocabulary'>
        </div>
        </div>
        {% endif %}
        {% if 'Thursday' in obj.days %}
        <h4>Thursday</h4>
        <div class="form-row">
            <div class="form-group col-md-4">
            {{ form.thursdayintro.errors }}
            <label >Essential Questions: </label>
            <textarea class="form-control" name='thursdayintro' rows="2"></textarea>
        </div>
        <div class="form-group col-md-4">
            {{ form.thursdayactivity.errors }}
            <label >Activity: </label>
            <textarea class="form-control" name='thursdayactivity' rows="2"></textarea>
        </div>
        <div class="form-group col-md-4">
            {{ form.thursdaywrap_up.errors }}
            <label >Wrap Up: </label>
            <textarea class="form-control" name='thursdaywrap_up' rows="2"></textarea>
        </div>
    </div>
        <div class="form-row">
            <div class="form-group col-md-4">
            {{ form.thursdayresources.errors }}
            <label >Resources: </label>
            <input type="text" class="form-control" name='thursdayresources'>
        </div>
        <div class="form-group col-md-4">
            {{ form.thursdayblooms.errors }}
            <label >Blooms: </label>
            <input type="text" class="form-control" name='thursdayblooms'>
        </div>
        <div class="form-group col-md-4">
            {{ form.thursdayvocabulary.errors }}
            <label >Vocabulary: </label>
            <input type="text" class="form-control" name='thursdayvocabulary'>
        </div>
        </div>
        {% endif %}
        {% if 'Friday' in obj.days %}
        <h4>Friday</h4>
        <div class="form-row">
            <div class="form-group col-md-4">
            {{ form.fridayintro.errors }}
            <label >Essential Questions: </label>
            <textarea class="form-control" name='fridayintro' rows="2"></textarea>
        </div>
        <div class="form-group col-md-4">
            {{ form.fridayactivity.errors }}
            <label >Activity: </label>
            <textarea class="form-control" name='fridayactivity' rows="2"></textarea>
        </div>
        <div class="form-group col-md-4">
            {{ form.fridaywrap_up.errors }}
            <label >Wrap Up: </label>
            <textarea class="form-control" name='fridaywrap_up' rows="2"></textarea>
        </div>
    </div>
        <div class="form-row">
            <div class="form-group col-md-4">
            {{ form.fridayresources.errors }}
            <label >Resources: </label>
            <input type="text" class="form-control" name='fridayresources'>
        </div>
        <div class="form-group col-md-4">
            {{ form.fridayblooms.errors }}
            <label >Blooms: </label>
            <input type="text" class="form-control" name='fridayblooms'>
        </div>
        <div class="form-group col-md-4">
            {{ form.fridayvocabulary.errors }}
            <label >Vocabulary: </label>
            <input type="text" class="form-control" name='fridayvocabulary'>
        </div>
        </div>
        {% endif %}
    <input type="submit" value="Save Activity" class="btn btn-secondary">
</form>

{% endblock %}