{% extends 'basetwo.html' %}
{% block content %}
<p>hello {{ username }}!</p>

    <div class="row seven-cols">
      <div class="col-md-1">
        <p>Last Week </p>
        {% if object1 %}
        <li><a href="{% url 'weekly_activity' school_url=school_url username=user.get_username week_of=previous %}">Last Week's Lesson Plans</a></li>
        {% else %}
            <li><a href="{% url 'school_lesson_week' school_url=school_url username=user.get_username week_of=previous %}">Add Activities for previous week</a></li>
        {% endif %}
      </div>
      <div class="col-md-1">
          <p>Monday</p>
          {% for x in object2 %}
          {% if 'Monday' in x.day %}
            <li><a href="{% url 'single_activity' activity_id=x.id %}">{{ x.activity_title }}: {{ x.id }}</a></li>
        {% endif %}
        {% endfor %}
      </div>
      <div class="col-md-1">
          <p>Tuesday</p>
          {% for x in object2 %}
          {% if 'Tuesday' in x.day %}
          <li><a href="{% url 'single_activity' activity_id=x.id %}">{{ x.activity_title }}: {{ x.id }}</a></li>
        {% endif %}
      {% endfor %}
      </div>
      <div class="col-md-1">
          <p>Wednesday</p>
          {% for x in object2 %}
          {% if 'Wednesday' in x.day %}
          <li><a href="{% url 'single_activity' activity_id=x.id %}">{{ x.activity_title }}: {{ x.id }}</a></li>
      ``{% endif %}
      {% endfor %}
      </div>
      <div class="col-md-1">
          <p>Thursday</p>
          {% for x in object2 %}
          {% if 'Thursday' in x.day %}
          <li><a href="{% url 'single_activity' activity_id=x.id %}">{{ x.activity_title }}: {{ x.id }}</a></li>
      ``{% endif %}
      {% endfor %}
      </div>
      <div class="col-md-1">
          <p>Friday </p>
          {% for x in object2 %}
          {% if 'Friday' in x.day %}
          <li><a href="{% url 'single_activity' activity_id=x.id %}">{{ x.activity_title }}: {{ x.id }}</a></li>
      ``{% endif %}
      {% endfor %}
      </div>

      <div class="col-md-1">
        <p>Next Week </p>
        {% if object3 %}
            <li><a href="{% url 'weekly_activity' school_url=school_url username=user.get_username week_of=next_week %}">Next Week's Lesson Plan</a></li>
        {% else %}
            <li><a href="{% url 'school_lesson_week' school_url=school_url username=user.get_username week_of=next_week %}">Add Activities for Next Week</a></li>
        {% endif %} 
      </div>
    </div>

{% endblock %}