{% extends 'basetwo.html' %}
{% block content %}
<h3>Step One: Review Weekly Activity Information </h3>

{% if messages %}
    {% for message in messages %}
    <h4>{{ message }}</h4>
    {% endfor %}
{% endif %}

<form method="POST">
        {% csrf_token %}
        {{ form.non_field_errors }}
        <div class="form-group">
                {{ form.school_lesson_id.errors }}
                <label >Lesson Id: </label>
                <input type="text" class="form-control" value='{{ object.school_lesson_id }}'name='school_lesson_id'>
            </div>
    <div class="form-group">
            {{ form.activity_title.errors }}
            <label >Weekly Objective: </label>
            <input type="text" class="form-control" value='{{ object.objective }}'name='activity_title'>
        </div>
    <div class="form-row">
            <div class="form-group col-md-4">
            {{ form.teacher.errors }}
            <label >Teacher: </label>
            <input type="text" class="form-control" value='{{ username }}' name='teacher'>
        </div>
        <div class="form-group col-md-4">
            {{ form.subject.errors }}
            <label >Subject: </label>
            <input type="text" class="form-control" value='{{ object.subject }}' name='subject'>
        </div>
        <div class="form-group col-md-4">
            {{ form.week_of.errors }}
            <label >Week Of: </label>
            <input type="text" class="form-control" value='{{ object.week_of }}' name='week_of'>
        </div>
    </div>
    <div class="form-group">
        {{ form.standard.errors }}
        <label for="exampleFormControlTextarea1">Standards</label>
        <input type="text" class="form-control" value='{{ results }}' name='standard'>
    </div>
        {% if 'Monday' in object.days %}
        <h4>Monday</h4>
        <div class="form-row">
            <div class="form-group col-md-4">
            {{ form.mondayintro.errors }}
            <label >Introduction: </label>
            <textarea class="form-control" name='mondayintro' rows="2"></textarea>
        </div>
        <div class="form-group col-md-4">
            {{ form.mondayactivity.errors }}
            <label >Activity: </label>
            <textarea class="form-control" name='mondayactivity' rows="2"></textarea>
        </div>
        <div class="form-group col-md-4">
            {{ form.mondaywrap_up.errors }}
            <label >Wrap Up: </label>
            <textarea class="form-control" name='mondaywrap_up' rows="2"></textarea>
        </div>
    </div>
        <div class="form-row">
            <div class="form-group col-md-4">
            {{ form.mondayresources.errors }}
            <label >Resources: </label>
            <input type="text" class="form-control" name='mondayresources'>
        </div>
        <div class="form-group col-md-4">
            {{ form.mondayblooms.errors }}
            <label >Blooms: </label>
            <input type="text" class="form-control" name='mondayblooms'>
        </div>
        <div class="form-group col-md-4">
            {{ form.mondayvocabulary.errors }}
            <label >Vocabulary: </label>
            <input type="text" class="form-control" name='mondayvocabulary'>
        </div>
        <div class="form-group col-md-4">
            {{ form.day.errors }}
            <label >Vocabulary: </label>
            <input type="text" class="form-control" name='day'>
        </div>
        </div>
        {% endif %}
        {% if 'Tuesday' in object.days %}
        <h4>Tuesday</h4>
        <div class="form-row">
            <div class="form-group col-md-4">
            {{ form.tuesdayintro.errors }}
            <label >Introduction: </label>
            <textarea class="form-control" name='tuesdayintro' rows="2"></textarea>
        </div>
        <div class="form-group col-md-4">
            {{ form.tuesdayactivity.errors }}
            <label >Activity: </label>
            <textarea class="form-control" name='tuesdayactivity' rows="2"></textarea>
        </div>
        <div class="form-group col-md-4">
            {{ form.tuesdaywrap_up.errors }}
            <label >Wrap Up: </label>
            <textarea class="form-control" name='tuesdaywrap_up' rows="2"></textarea>
        </div>
    </div>
        <div class="form-row">
            <div class="form-group col-md-4">
            {{ form.tuesdayresources.errors }}
            <label >Resources: </label>
            <input type="text" class="form-control" name='tuesdayresources'>
        </div>
        <div class="form-group col-md-4">
            {{ form.tuesdayblooms.errors }}
            <label >Blooms: </label>
            <input type="text" class="form-control" name='tuesdayblooms'>
        </div>
        <div class="form-group col-md-4">
            {{ form.tuesdayvocabulary.errors }}
            <label >Vocabulary: </label>
            <input type="text" class="form-control" name='tuesdayvocabulary'>
        </div>
        </div>
        {% endif %}
    <input type="submit" value="Save Activity" class="btn btn-secondary">
</form>

{% endblock %}