{% extends 'basetwo.html' %}
{% block content %}
<br/>
<h4>Hello {{ teacher_name }}!</h4>
<br>
{% for schedule in teacher_schedule %}
  <li><a  href="{% url 'school_lesson' school_url=school_url username=teacher_name schedule_id=schedule.id %}">{{ schedule.classroom }} - {{ schedule.Subject}}</a></li>
  <br/>
  {% endfor %}
<br>
    <div class="row seven-cols">
      <div class="col-md-1">
        {% if object1 %}
        <a href="{% url 'weekly_activity' school_url=school_url username=user.get_username week_of=previous %}">Last Week</a>
        {% else %}
        <a href="{% url 'school_lesson_week' school_url=school_url username=user.get_username week_of=previous %}">Last Week</a>
        {% endif %}
      </div>
      <div class="col-md-2">
          <h5>Monday</h5>
          {% for x in object2 %}
          {% if 'Monday' in x.day %}
          <div class="card">
              <div class="card-body">
                <h5 class="card-title">{{ x.subject }}</h5>
                <p class="card-text">{{ x.activity}}</p>
                <a href="{% url 'single_activity' school_url=school_url activity_id=x.id %}" class="card-link">View Activity</a>
                <li><a href="{% url 'assessment' school_url=school_url planning_id=x.school_lesson_id_id %}">Add Assessment</a></li>
              </div>
            </div>
            {% endif %}
            {% endfor %}
      </div>
      <div class="col-md-2">
          <h5>Tuesday</h5>
          {% for x in object2 %}
                {% if 'Tuesday' in x.day %}
                <div class="card">
                    <div class="card-body">
                      <h5 class="card-title">{{ x.subject }}</h5>
                      <p class="card-text">{{ x.activity}}</p>
                      <a href="{% url 'single_activity' school_url=school_url activity_id=x.id %}" class="card-link">View Activity</a>
                      <li><a href="{% url 'assessment' school_url=school_url planning_id=x.school_lesson_id_id %}">Add Assessment</a></li>
                    </div>
                  </div>
                  {% endif %}
                  {% endfor %}
      </div>
      <div class="col-md-2">
          <h5>Wednesday</h5>
          {% for x in object2 %}
                {% if 'Wednesday' in x.day %}
                <div class="card">
                    <div class="card-body">
                      <h5 class="card-title">{{ x.subject }}</h5>
                      <p class="card-text">{{ x.activity}}</p>
                      <a href="{% url 'single_activity' school_url=school_url activity_id=x.id %}" class="card-link">View Activity</a>
                      <li><a href="{% url 'assessment' school_url=school_url planning_id=x.school_lesson_id_id %}">Add Assessment</a></li>
                    </div>
                  </div>
                  {% endif %}
                  {% endfor %}
      </div>
      <div class="col-md-2">
          <h5>Thursday</h5>
          {% for x in object2 %}
                {% if 'Thursday' in x.day %}
                <div class="card">
                    <div class="card-body">
                      <h5 class="card-title">{{ x.subject }}</h5>
                      <p class="card-text">{{ x.activity}}</p>
                      <a href="{% url 'single_activity' school_url=school_url activity_id=x.id %}" class="card-link">View Activity</a>
                      <li><a href="{% url 'assessment' school_url=school_url planning_id=x.school_lesson_id_id %}">Add Assessment</a></li>
                    </div>
                  </div>
                  {% endif %}
                  {% endfor %}
      </div>
      <div class="col-md-2">
          <h5>Friday </h5>
          {% for x in object2 %}
                {% if 'Friday' in x.day %}
                <div class="card">
                    <div class="card-body">
                      <h5 class="card-title">{{ x.subject }}</h5>
                      <p class="card-text">{{ x.activity}}</p>
                      <a href="{% url 'single_activity' school_url=school_url activity_id=x.id %}" class="card-link">View Activity</a>
                      <li><a href="{% url 'assessment' school_url=school_url planning_id=x.school_lesson_id_id %}">Add Assessment</a></li>
                    </div>
                  </div>
                  {% endif %}
                  {% endfor %}
      </div>

      <div class="col-md-1">
        {% if object3 %}
        <a href="{% url 'weekly_activity' school_url=school_url username=user.get_username week_of=next_week %}">Next Week</a>
        {% else %}
        <a href="{% url 'school_lesson_week' school_url=school_url username=user.get_username week_of=next_week %}">Next Week</a>
        {% endif %} 
      </div>
    </div>
<br>
{% for assessment in assessment_names %}
{{ assessment }}

{% endfor %}
{% endblock %}