{% extends 'base.html' %}
{% load i18n %}
{% block title %}{% trans "All Quizzes" %}{% endblock %}

{% block content %}
<br/>
<div class="btn-group" role="group" aria-label="Basic example">
  <a class="btn btn-outline-secondary" href="{% url 'home' %}" role="button">Back to Home</a>
  <a class="btn btn-outline-secondary" href="{% url 'quiz_index' %}" role="button">View All Quizzes</a>
</div>
<br/>
<h2>{% trans "Category list" %}</h2>

<ul>
  {% for cat in category_list %}
  <li>
	<a href="{% url 'quiz_category_list_matching' category_name=cat.category %}">
	  {{ cat.category }}
	</a>
  </li>
  {% endfor %}
</ul>

{% endblock %}
