{% extends 'base.html'%}
{% load static %}
{% load i18n %}

{% block content %}

<body>
 
<h2>{% trans "List of quizzes" %}</h2>
<br/>
<div class="btn-group" role="group" aria-label="Basic example">
  <a class="btn btn-outline-secondary" href="{% url 'home' %}" role="button">Back to Home</a>
  <a class="btn btn-outline-secondary" href="{% url 'quiz_category_list_all' %}" role="button">View All Quizzes</a>
</div>
<br/>
    {% if quiz_list %}
		<table class="table table-bordered table-striped">

		  <thead>
			<tr>
			  <th>{% trans "Title" %}</th>
			  <th>{% trans "Category" %}</th>
			  <th></th>
			</tr>
		  </thead>

		  <tbody>

        {% for quiz in quiz_list %}

  			<tr>
			  <td>{{ quiz.title }}</td>
			  <td>{{ quiz.category }}</td>
			  <td>
				<a href="{% url 'quiz_start_page' slug=quiz.url %}">
				  {% trans "View Quiz Details" %}
				</a>
			</tr>

        {% endfor %}
		  </tbody>

		</table>

	{% else %}
        <p>{% trans "There are no available quizzes" %}.</p>
		{% endif %}
</body>

{% endblock %}