{% extends 'base.html' %}

{% block content %}

<section class="blog_area single-post-area section_gap">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 posts-list">
                    <div class="single-post row">
                        <div class="col-lg-12">
                            <div class="feature-img">
                                <img class="img-fluid" src="static/img/blog/blog1.png" alt="">
                            </div>
                        </div>
                        <div class="col-lg-9 col-md-9 blog_details">
                            <h2>When school communities are connected, students SUCCEED!</h2>
                            <p class="excert">
                                    Schools and classrooms are where children spend a significant amount of time and Schools 
                                    have a duty to help their students make the most of that time together by developing a Strong school community.  
                                    The benefits students realize from having an efficient and effective school community are plentiful. 
                                    When schools actively involve parents and create a strong school network they are able 
                                    to respond more effectively to the needs of students.
                            </p>
                            <p>
                                    Building and nurturing a supportive school community is essential to ensuring that every child grows up happy, healthy, and curious to learn. Research shows that students whose parents are involved in their education are more likely to: Adapt well to school, Attend school more regularly, Complete homework more consistently, Earn higher grades and test scores, Graduate and go on to college, Have better social skills, Show improved behavior, Have better relationships with their parents and Have higher self-esteem. 
                                    <br/>
                                    The most inclusive school communities are ones that encourage parents, students, and teachers to come together, Having clear and open communication means opening up channels for dialogue. Whether it’s between parents and children, students and teachers, or between peers.  creating an open and honest environment where communication and discussion is welcome ensures that  everyone feels included and like their voice will be heard. A supportive and communicative environment is one of the key characteristics of a positive school climate.
                                    <br/>
                                    One of the most important ways to build a strong and supportive school network is to communicate: communicate effectively, communicate promptly, and communicate often. Celebrate your school community’s successes, address any considerations or concerns, and encourage other voices to be heard (such as the opinions and thoughts of teachers and students).
                                    <br/>
                                    Digital platforms and apps are great tools to simplify communication between parents, teachers, and administrators to make sure information flows to everyone in an easy and seamless way - whether it’s through distributing an online school news, to creating forums for exchange between the community.  Platforms such as Schoolio are revolutionizing Education communication management through products that keep school communities  connected at a low cost to ensure that students gain the benefits of having a strong  and connected school network around them.  
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    {% endblock %}