
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
    <title>Schoolio Practice</title>
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- Mobile Specific Metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1">
    <link rel='shortcut icon' type='image/png' href='static/images/favicon.png' />
    <!-- CSS -->
    <link rel="stylesheet" type="text/css" href="static/css/ionicons.min.css">
    <link rel="stylesheet" type="text/css" href="static/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="static/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="static/css/owl.carousel.min.css">
    <link rel="stylesheet" type="text/css" href="static/css/owl.theme.default.min.css">
    <link rel="stylesheet" type="text/css" href="static/css/magnific-popup.css">
    <link rel="stylesheet" type="text/css" href="static/css/swiper.css">
    <link rel="stylesheet" type="text/css" href="static/css/style.css">
</head>

<body>
<!-- PRELOADER -->

  <!-- HOME-CAROUSEL PAGE -->
  <!-- Swiper -->
  <div class="swiper-container">
    <div class="parallax-bg" style="background-image:url(static/images/home-img/Schoolio_background.png)" data-swiper-parallax="-23%"></div>
    <div class="swiper-wrapper">
      <div class="swiper-slide">
        <div class="title" data-swiper-parallax="-300">Schoolio</div>
        <div class="subtitle" data-swiper-parallax="-200">Exam Practice</div>
        <div class="text" data-swiper-parallax="-100">
          <p>Access hundreds of practice questions with solutions for Grade 10 and Grade 12 National Exams</p>
          <a class="button" href="#about">Get Started</a>
        </div>
      </div>
      <div class="swiper-slide">
        <div class="title" data-swiper-parallax="-300" data-swiper-parallax-opacity="0">Schoolio</div>
        <div class="subtitle" data-swiper-parallax="-200">College Prep</div>
        <div class="text" data-swiper-parallax="-100">
          <p>Get everything you need to prepare for college from entrance exam prep to info on grants/loans for studying abroad.</p>
              <a class="button" href="#about">Get Started</a>
        </div>
      </div>
      <div class="swiper-slide">
        <div class="title" data-swiper-parallax="-300">Schoolio</div>
        <div class="subtitle" data-swiper-parallax="-200">Career Planning</div>
        <div class="text" data-swiper-parallax="-100">
          <p>Get guidance on career paths, skills assessments, or University majors.</p>
          <a class="button" href="#about">Get Started</a>
        </div>
      </div>
    </div>
    <!-- Add Pagination -->
    <div class="swiper-pagination"></div>
    <!-- Add Arrows -->
    <div class="swiper-button-next"><i class="ion-ios-arrow-thin-right"></i></div>
    <div class="swiper-button-prev"><i class="ion-ios-arrow-thin-left"></i></div>
  </div>
    <!-- Navigation -->
    <div class="col-lg-2 pd-left">
      <div class="mobile-nav">
        <i class="fa ion-navicon" aria-hidden="true"></i>
        <span>Schoolio</span>
      </div>
      <nav class="nav-menu">
        <div class="header-menu">
          <a class="menu-logo" href=""><img src="static/images/schoolio_logo.png" alt="logo"></a>
        </div>
        <ul class="menu-text clk">
          <li><a href="#home">Home</a></li>
          <li><a href="#resume">About Us</a></li>
          <li><a href="#about">Register</a></li>
          <li><a href="#contact">Contact</a></li>
          <li><a href="{% url 'calendar' %}">Exam Schedule</a></li>
          <li><a href="{% url 'login' %}">Login</a></li>
        </ul>
        <ul class="social-links">
          <li><a href="https://twitter.com/schoolioco"><i class="fa ion-social-twitter" aria-hidden="true"></i></a></li>
          <li><a href="https://wa.me/2648155559104"><i class="fa fa-whatsapp" aria-hidden="true"></i></a></li>
          <li><a href="https://www.facebook.com/schoolioco"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
          <li><a href="https://www.instagram.com/schoolioco/"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
        </ul>
      </nav>
    </div><!-- /.col-lg-2 -->

<!-- Copyright -->
  <div class="copyright">
    <span>© Schoolio 2019 All rights reserved.</span>
  </div>
 <!-- ABOUT-PAGE -->
  <div id="about" class="panel">
    <div class="about-content">
      <div class="container-fluid">
        <div class="row">
          <div class="col-md-10 offset-md-2">
            <span class="about title-page">Register</span>
            <div class="about-me">
              <h4>Schoolio is here to help you do your best on your Exams</h4>
              <p>Schoolio Practice has takes the Namibian curriculum and syllabus as well as previous question papers and creates practice exams with hundreds of possible questions with solutions.<br/> 
                Each student can take an unlimited number of practice exams and track their progress over time.<br/><br/>
                All this for one low price.</p>
            </div><!-- /.about-me --> 
            <div class="personal-info">
              <br/>
              <div class="row">
                <div class="col-sm-6">
                  <div class="card">
                    <div class="card-body">
                      <h5 class="card-title">Grade 10 English as Second Language</h5>
                      <p class="card-text">Try this test Practice Exams to experience Schoolio Practice</p>
                      <a href="{% url 'quiz_category_list_matching' 'TestQuiz' %}" class="button">Example Practice Exam</a>
                    </div>
                  </div>
                </div>
                <div class="col-sm-6">
                  <div class="card">
                    <div class="card-body">
                      <h5 class="card-title">Grade 12 Math Upper Level</h5>
                      <p class="card-text">Try this test Practice Exams to experience Schoolio Practice</p>
                      <a href="{% url 'quiz_category_list_matching' 'TestQuiz' %}" class="button">Example Practice Exam</a> 
                    </div>
                  </div>
              </div>
              </div>
            </div><!--  /.personal-info -->
            <!-- Skill-bar-section -->
            <div class='skill'>
              <h4 class="title-section">Current Subjects</h4>
              <p>Below is the breakdown of the current subjects offered through Schoolio Practice. We add new subjects and practice exams every week!</p>
              <!-- progress bar -->
              <div id="skills">
                <div class="skillbar-title"><span>Grade 10 English</span></div>
                <div class="skillbar clearfix " data-percent="90%">
                  <div class="skillbar-bar"></div>
                  <div class="skill-bar-percent">200</div>
                </div>

                <div class="skillbar-title"><span>Grade 10 Math Ordinary Level</span></div>
                <div class="skillbar clearfix " data-percent="50%">
                  <div class="skillbar-bar"></div>
                  <div class="skill-bar-percent">100</div>
                </div>

                <div class="skillbar-title"><span>Grade 12 English as Second Language</span></div>
                <div class="skillbar clearfix" data-percent="90%">
                  <div class="skillbar-bar"></div>
                  <div class="skill-bar-percent">200</div>
                </div>

                <div class="skillbar-title"><span>Grade 12 Math Ordinary Level</span></div>
                <div class="skillbar clearfix" data-percent="80%">
                  <div class="skillbar-bar"></div>
                  <div class="skill-bar-percent">180</div>
                </div>

                <div class="skillbar-title"><span>Grade 12 Math Upper Level</span></div>
                <div class="skillbar clearfix" data-percent="70%">
                  <div class="skillbar-bar"></div>
                  <div class="skill-bar-percent">160</div>
                </div>

                <div class="skillbar-title"><span>Grade 12 Biology</span></div>
                <div class="skillbar clearfix" data-percent="55%">
                  <div class="skillbar-bar"></div>
                  <div class="skill-bar-percent">100</div>
                </div>

                <div class="skillbar-title"><span>Grade 12 Chemistry</span></div>
                <div class="skillbar clearfix" data-percent="55%">
                  <div class="skillbar-bar"></div>
                  <div class="skill-bar-percent">100</div>
                </div>


            </div>   <!-- /#skill -->
          </div> <!-- /.skill  -->  

          
          <!-- services-section -->
          <div class="services">
              <!-- card-1 -->
            <div class="card-deck align-middle">
              <div class="card">
                <i class="fa ion-earth" aria-hidden="true"></i>
                <div class="card-body">
                  <h5 class="card-title">Web Access Only</h5>
                  <p class="card-text">Get unlimited access to all subjects and practice exams</p>
                  <a href="{% url 'quiz_category_list_matching' 'TestQuiz' %}" class="button">Register for Web Only</a>
                </div>
              </div><!-- /.card -->
              <!-- card-2 -->
              <div class="card">
                <i class="fa fa-tablet" aria-hidden="true"></i>
                <div class="card-body">
                  <h5 class="card-title">Web Access and Tablet</h5>
                  <p class="card-text">Get Access to unlimited subjects and exams as well as an Amazon Fire.</p>
                  <a href="#" class="button">Coming Soon</a>
                </div>
              </div><!-- /.card -->
            </div><!-- /.card-deck  -->
          </div><!-- /.services -->  
          <!-- clients-section -->
          </div><!-- /.col-md-10 -->
        </div><!-- /.row  -->
      </div><!-- /.container-fluid -->
    </div><!-- /.about-content -->
  </div><!-- /#about -->
<!-- PROFILE-IMAGE -->
  <div class="panel-2">
    <div class="profile-img"></div>
  </div>    

<!-- PORTFOLIO-PAGE -->
  <div id="portfolio" class="panel">
    <div class="portfolio-content">    
      <div class="container-fluid">
        <span class="portfolio title-page">Portfolio</span>
        <p>Quisque volutpat eleifend ex, id tincidunt sapien molestie ac. Duis sed enim eget augue semper efficitur. Suspendisse vulputate pellentesque semper.</p>
        <!-- menu-portfolio -->
        <ul id="filter">
          <li>
            <a class="active-filter" href="#" data-group="all">All</a>
          </li>
          <li>
            <a href="#" data-group="ui">UI / UX Design</a>
          </li>
          <li>
            <a href="#" data-group="photography">Photography</a>
          </li>
          <li>
            <a href="#" data-group="graphic-design">Graphic Design</a>
          </li>
          <li>
            <a href="#" data-group="web-design">Web Design</a>
          </li>
        </ul><!-- /.filter -->
          <!-- Grid portfolio -->
          <div id="grid" class="row no-gutters">
              <div class="item col-lg-4"  data-groups='["ui"]'>
                <a href="static/images/portfolio/big-img/project-big-1.jpg" class="with-caption image-link" title="Project Title">
                  <figure class="effect-sadie">
                    <img class="responsive-img" src="static/images/portfolio/big-img/project-big-1.jpg" alt="">
                    <figcaption>
                      <i class="fa ion-ios-plus-outline" aria-hidden="true"></i> 
                      <p>Praesent convallis, turpis et ultrices tincidunt, orci nisi mollis dolor,<br>non congue erat elit ut purus.</p>
                    </figcaption> 
                  </figure>
                </a>
              </div>

              <div class="item col-lg-4" data-groups='["photography"]'>
                <a href="static/images/portfolio/big-img/project-big-2.jpg" class="with-caption image-link" title="Project Title">
                  <figure class="effect-sadie">
                    <img class="responsive-img" src="static/images/portfolio/project-2.jpg" alt="">
                    <figcaption>
                      <i class="fa ion-ios-plus-outline" aria-hidden="true"></i>
                      <p>Praesent convallis, turpis et ultrices tincidunt, orci nisi mollis dolor,<br> non congue erat elit ut purus.</p>
                    </figcaption> 
                  </figure>
                </a>
              </div>

              <div class="item col-lg-4"  data-groups='["photography"]'>
                <a href="static/images/portfolio/big-img/project-big-3.jpg" class="with-caption image-link" title="Project Title">
                  <figure class="effect-sadie">
                   <img class="responsive-img" src="static/images/portfolio/project-3.jpg" alt="">
                    <figcaption>
                      <i class="fa ion-ios-plus-outline" aria-hidden="true"></i>
                      <p>Praesent convallis, turpis et ultrices tincidunt, orci nisi mollis dolor,<br>non congue erat elit ut purus.</p>
                    </figcaption> 
                  </figure>
                </a>
              </div>

              <div class="item col-lg-4"   data-groups='["graphic-design"]'>
                <a href="static/images/portfolio/big-img/project-big-4.jpg" class="with-caption image-link" title="Project Title">
                  <figure class="effect-sadie">
                    <img class="responsive-img" src="static/images/portfolio/project-4.jpg" alt="">
                    <figcaption>
                      <i class="fa ion-ios-plus-outline" aria-hidden="true"></i>
                      <p>Praesent convallis, turpis et ultrices tincidunt, orci nisi mollis dolor,<br>non congue erat elit ut purus.</p>
                    </figcaption> 
                  </figure>
                </a>
              </div>

              <div class="item col-lg-4"   data-groups='["graphic-design"]'>
                <a href="static/images/portfolio/big-img/project-big-5.jpg" class="with-caption image-link" title="Project Title">
                  <figure class="effect-sadie">
                    <img class="responsive-img" src="static/images/portfolio/project-5.jpg" alt="">
                    <figcaption>
                      <i class="fa ion-ios-plus-outline" aria-hidden="true"></i>
                      <p>Praesent convallis, turpis et ultrices tincidunt, orci nisi mollis dolor,<br>non congue erat elit ut purus.</p>
                    </figcaption> 
                  </figure>
                </a>
              </div>

              <div class="item col-lg-4"   data-groups='["web-design"]'>
                <a href="static/images/portfolio/big-img/project-big-6.jpg" class="with-caption image-link" title="Project Title">
                  <figure class="effect-sadie">
                    <img class="responsive-img" src="static/images/portfolio/project-6.jpg" alt="">
                    <figcaption>
                      <i class="fa ion-ios-plus-outline" aria-hidden="true"></i>
                      <p>We would love for you to get in touch so we</p>
                    </figcaption> 
                  </figure>
                </a>
              </div>
        </div><!-- /#grid -->
      </div> <!-- / .container-fluid --> 
    </div><!-- /.portfolio-content -->
  </div><!-- /#portfolio -->

        <!-- RESUME-PAGE -->
  <div id="resume" class="panel">
    <div class="resume-content">
      <div class="container-fluid">
        <div class="row">
          <div class="col-lg-12">
            <span class="resume title-page">About</span>
          </div>
        </div>  

 <!-- experience -->
      <div class="education">
        <div class="row">
          <div class="col-lg-4 col-md-2">
            <h4>REACH HIGHER</h4>
          </div>
          <div class="col-lg-8 col-md-10">

            <div class="resume-inner">
              <div class="resume-row">
                <span class="resume-date">Exam Practice </span>
                <h4 class="resume-study">Online Practice Exams</h4>
                <p class="resume-text">Schoolio has an online platform to help secondary students prepare for all 
                  major subjects. Gain access to hundreds of practice questions with solutions. Our library of exams is 
                  always growing and expanding which means you will always have new material. </p>
              </div>
              <div class="resume-row">
                <span class="resume-date">University Prep</span>
                <h4 class="resume-study">Entrance Exams, Grant/Loans, Study Abroad</h4>
                <p class="resume-text">Get info on University requirements and enrollment procedures. 
                  Apply for grants and scholarships from all around the world. Students can also take supplemental 
                  courses to help with international exams like SAT, ACT, or TOEFL.</p>
              </div>
              <div class="resume-row">
                <span class="resume-date">Career Planning</span>
                <h4 class="resume-study">Plan for Your Future</h4>
                <p class="resume-text">Gain access to career guidance and exposure to hundreds of career paths based on your unique skills and passions. 
                  Meet with recent graduates who have just started down that career path. Become prepared for your career after University with online internships or mentoring. 
                </p>
              </div>
            </div><!-- /.resume-inner -->

          </div><!-- /.col-lg-8 col-md-10 -->
        </div><!-- /.row -->
      </div><!-- /.education (experience)-->
      </div><!-- /.container-fluid -->
    </div><!-- /.resume-content -->
  </div><!-- /#resume  --> 


        <!-- CONTACT-PAGE -->
  <div id="contact" class="panel">
    <div class="contact-content">
      <div class="container-fluid">
        <div class="row">
          <div class="col-md-10 offset-md-2">
            <span class="contact title-page">Contact Us</span>
              <div class="contact-text">
                <p>We are dedicated to providing quality educational resources for students, teachers, and administrators thourghout the African continent.</p>
              </div><!-- /.contact-text -->
                      
              <div class="personal-info">
                <h4 class="title-section">Get In Touch</h4>
                 <ul>
                      <p> <span> Phone</span> - (+264) 081-555-9104</p>
                    </li>
                    <li>
                      <p> <span> E-mail</span> - lettisia@schoolio.co </p>
                    </li>
                </ul>
                <ul class="social-links">
                    <li><a href="https://twitter.com/schoolioco"><i class="fa ion-social-twitter fa-2x" aria-hidden="true"></i></a></li>
                    <li></li>
                    <li><a href="https://wa.me/2648155559104"><i class="fa fa-whatsapp fa-2x " aria-hidden="true"></i></a></li>
                  <li></li>
                    <li><a href="https://www.facebook.com/schoolioco"><i class="fa fa-facebook fa-2x" aria-hidden="true"></i></a></li>
                   <li></li>
                    <li><a href="https://www.instagram.com/schoolioco/"><i class="fa fa-instagram fa-2x" aria-hidden="true"></i></a></li>
                  </ul>
              </div><!-- /.personal-info -->

              <div class="row"><!-- block form -->
                  <div class="col-md-12 col-lg-12">
                    <div class="well">
                      
                    <div class="copyright-contact">
                        <span>© Schoolio 2019 </span>
                     </div>
                   </div>
                 </div>
              </div><!--  /.row form --> 
                
          </div><!-- /.col-md-10 -->
        </div><!-- /.row  -->
      </div><!-- /.container-fluid -->
    </div><!-- /.contact-content -->
  </div><!-- /#contact -->

<!-- GOOGLE_MAP-1 -->
  
</div> <!-- /.bg-title  -->  
<script>
      window.intercomSettings = {
        app_id: "rxyrhcmi"
      };
    </script>
    <script>(function(){var w=window;var ic=w.Intercom;if(typeof ic==="function"){ic('reattach_activator');ic('update',w.intercomSettings);}else{var d=document;var i=function(){i.c(arguments);};i.q=[];i.c=function(args){i.q.push(args);};w.Intercom=i;var l=function(){var s=d.createElement('script');s.type='text/javascript';s.async=true;s.src='https://widget.intercom.io/widget/rxyrhcmi';var x=d.getElementsByTagName('script')[0];x.parentNode.insertBefore(s,x);};if(w.attachEvent){w.attachEvent('onload',l);}else{w.addEventListener('load',l,false);}}})();</script>


  <script src="static/js/jquery-3.2.1.min.js"></script>
  <script src="static/js/imagesloaded.pkgd.min.js"></script>
  <script src='static/js/jquery.shuffle.min.js'></script>
  <script src='static/js/bootstrap.bundle.min.js'></script>
  <script src='static/js/owl.carousel.min.js'></script>
  <script src="static/js/jquery.magnific-popup.min.js"></script>
  <script src="static/js/validator.min.js"></script>
  <script src="static/js/form-scripts.js"></script>
  <script src="static/js/swiper.min.js"></script>
  <script src="static/js/main.js"></script>
    
</body>
</html>