{% extends 'base.html' %}

{% block content %}

 <!-- ABOUT-PAGE -->
  <div id="about" class="panel">
    <div class="about-content">
      <div class="container-fluid">
        <div class="row">
          <div class="col-md-10 offset-md-2">
            <span class="about title-page">Register</span>
            <div class="about-me">
              <h4>Schoolio is here to help you do your best on your Exams</h4>
              <p>Schoolio Practice takes the Namibian curriculum and syllabus as well as previous question papers and creates practice exams with hundreds of possible questions with solutions.<br/> 
                Each student can take an unlimited number of practice exams and track their progress over time.<br/><br/>
                All this for one low price.</p>
            </div><!-- /.about-me --> 
            <div class="personal-info">
              <br/>
              <div class="row">
                <div class="col-sm-6">
                  <div class="card">
                    <div class="card-body">
                      <h5 class="card-title">Grade 10 English as Second Language</h5>
                      <p class="card-text">Try this test Practice Exams to experience Schoolio Practice</p>
                      <a href="{% url 'quiz_category_list_matching' 'EnglishTester' %}" class="button">Example Practice Exam</a>
                    </div>
                  </div>
                </div>
                <div class="col-sm-6">
                  <div class="card">
                    <div class="card-body">
                      <h5 class="card-title">Grade 12 Math Upper Level</h5>
                      <p class="card-text">Try this test Practice Exams to experience Schoolio Practice</p>
                      <a href="{% url 'quiz_category_list_matching' 'MathTester' %}" class="button">Example Practice Exam</a> 
                    </div>
                  </div>
              </div>
              </div>
            </div><!--  /.personal-info -->
            <!-- Skill-bar-section -->
        
          <!-- services-section -->
          <div class="services">
              <!-- card-1 -->
            <div class="card-deck align-middle">
              <div class="card">
                <i class="fa ion-earth" aria-hidden="true"></i>
                <div class="card-body">
                  <h5 class="card-title">Web Access Only</h5>
                  <p class="card-text">Get unlimited access to all subjects and practice exams.
                         <br/>N$200 per month or N$500 for the year.</p>
                  <a href="{% url 'subscription' %}" class="button">Register for Web Only</a>
                </div>
              </div><!-- /.card -->
              <!-- card-2 -->
              <div class="card">
                <i class="fa fa-tablet" aria-hidden="true"></i>
                <div class="card-body">
                  <h5 class="card-title">Web Access and Tablet</h5>
                  <p class="card-text">Get Access to unlimited subjects and exams as well as an Amazon Fire.</p>
                  <a href="#" class="button">Coming Soon</a>
                </div>
              </div><!-- /.card -->
            </div><!-- /.card-deck  -->
          </div><!-- /.services -->  
          <!-- clients-section -->
          </div><!-- /.col-md-10 -->
        </div><!-- /.row  -->
      </div><!-- /.container-fluid -->
    </div><!-- /.about-content -->
  </div><!-- /#about -->
<!-- PROFILE-IMAGE -->
  <div class="panel-2">
    <div class="profile-img"></div>
  </div>    

{% endblock %}