{% extends "base.html" %}

{% block content %}

<h3 class="text-center">Register for Schoolio</h3>
<br/>
<div class="col-md-6 offset-md-3">
<div class="card">
        <div class="card-header">
          One Month 
        </div>
        <div class="card-body">
          <h5 class="card-title">N$200 for 1 Month Access</h5>
          <p class="card-text">Get unlimited access to question papers and solutions for 1 month.</p>
        </div>
      </div>
<br/>
<div class="card">
        <div class="card-header">
          One Year 
        </div>
        <div class="card-body">
          <h5 class="card-title">N$500 for 1 Year Access</h5>
          <p class="card-text">Get unlimited access to question papers and solutions for 1 year plus access to online homwork support through chat.</p>
        </div>
      </div>
<br/>
    <form action="" method="post">
        {% csrf_token %}
        {{ f }}
        <input type="submit" value="Register">
    </form>
<br/>
<h5>Please note payments are processed in USD. 
    If you are more comfortable processing your subscription via EFT. 
    Please contact us to process an offline payment. 
    Only annual subscriptions can be purchased via eft. </h5>
<a type="button" class="btn btn-light btn-lg btn-block" href="mailto:lettisia@schoolio.co" role="button">Email Us</a>
</div>
</div>
{% endblock %}