{% extends "base.html" %}

{% block content %}

<h3 class="text-center">Register for Schoolio</h3>
<div class="col-md-6 offset-md-3">
<h4>Get Started and Register Now</h4>
    <form action="" method="post">
        {% csrf_token %}
        {{ f }}
        <input type="submit" value="Register">
    </form>
<br/>
<h5>Please note payments are processed in USD. 
    If you are more comfortable processing your subscription via EFT. 
    Please contact us to process an offline payment. 
    Only annual subscriptions can be purchased via eft. </h5>
<li><a type="button" class="btn btn-light" href="mailto:lettisia@schoolio.co" role="button">Email Us</a></li>
</div>
</div>
{% endblock %}